@media screen and (min-aspect-ratio: 13/9) {
	.phoenix-help
	{
		max-width: 50% !important;
	}

	.phoenix-near-moon
	{
		top:45% !important;
		left:calc(100% - 200px) !important;
		left:-webkit-calc(100% - 200px) !important;
	}

           
body {font-size:1.2em !important;}


.timer,.point{
	font-size:0.9rem;
	 }




.ok-btn , .cancel-btn{
	font-size:0.8rem;
}


.cancel-btn
{
	color:#000000;
	background-color:#c6c2b6;
}

.star-img
	{
		width:60px !important;
	}
	
.money-bag-img
	{
		width:10% !important;
	}
	
	.money-bag{
	width:10% !important;
	      }

.game-header
{
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
}

	.next-level-desc
	{
		width:calc(70% - 130px) !important;
		width:-webkit-calc(70% - 130px) !important;
		text-align: center !important;
		font-size: 1rem !important;
	}

	.phoenix
	{
		width: 20% !important;
	}

	.moon
	{

		margin: 30px auto 30px 10% !important;
	}

	.level-map
	{
		max-height: 30vh !important;
		margin-top: 10px !important;
	}

	.referal-link{font-size: 1.2em !important;}
}


@media screen and (max-device-width: 1024px) and (orientation: landscape) {

	body {font-size:1em !important;}

	.phoenix , .phoenix-near-moon
	{
		width: 25% !important;
		max-width: 150px !important;
	}

	.phoenix-container
	{
		max-width: 350px !important;
	}
	.referal-link{font-size: 1em !important;}

	.phoenix-near-moon
	{
		top:45% !important;
		left:calc(100% - 160px) !important;
		left:-webkit-calc(100% - 160px) !important;
	}


	.coin
	{
		height: 50px !important;
		width: 50px !important;
	}

	.moon
	{
		margin: 30px auto 30px 16px !important;
	}
}


